<body style="background-image: url('../assets/background2.jpg'); max-width: 100%">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body border border-danger">
      <h1 class="text-center mb-3">
        <img src="../assets/424736_final_ver.jpg" width="100" height="100" class="d-inline-block rounded-circle" alt="" ></i> Waitlist Register
      </h1>
      <% include ./partials/success-error-mess %>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input
            type="name"
            id="first-name"
            name="first_name"
            class="form-control"
            placeholder="Enter First Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
          <label for="last-name">Last Name</label>
          <input
            type="name"
            id="last-name"
            name="last_name"
            class="form-control"
            placeholder="Enter Last Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="form-control"
            placeholder="Enter Phone number"
            value="<%= typeof tel != 'undefined' ? tel : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#eMailModal"><i class="fa-solid fa-envelope-circle-check"></i> 
        Confirm Email
        </button>
        <!-- <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i>
          Register
        </button> -->
        <!-- Modal -->
        <div class="modal fade" id="eMailModal" tabindex="-1" aria-labelledby="eMailModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="/users/register" method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="eMailModalLabel">Email Confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label for="email">Email</label>
                  <p>Please confirm this is the correct email address for you.</p>
                  <input
                    type="email"
                    id="confirmEmail"
                    name="confirmEmail"
                    class="form-control"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> Close</button>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Confirmation Email</button>
                  <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i>
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      <!-- <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#eMailModal">
        Confirm Email
      </button> -->
      
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" 
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
crossorigin="anonymous">
</script>
<script>
  $(document).ready(function() {
    let eMailModal = document.getElementById('eMailModal');
    let emailInput = document.getElementById('email');
    let newUserEmail = $('#email').val();
    console.log('email val:',newUserEmail);
    $(".modal-body").html(`<p>Email Address: `+newUserEmail+`</p>`);
    eMailModal.addEventListener('shown.bs.modal', function () {
      emailInput.focus();
    })  
  });  
</script>